{% extends 'layout.html.twig' %}

{% block content %}
    
    <main id="main">
    	<section class="section-bg">
    		<div class="container">
    		    
    		    <p>{{ book.title }}</p>
    		</div>
    	</section>
    </main>
{% endblock %}