<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="" name="keywords">
  		<meta content="" name="description">
  		
  		<!-- Favicons -->
  		<link href="img/favicon.png" rel="icon">
  		
  		<title>{% block title %}Nautilus{% endblock %}</title>
        
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
    	<div id="page" class="site">
            {% block page %}{% endblock %}
        </div>
        {% block javascripts %}{% endblock %}
    </body>
</html>
