{% extends 'base.html.twig' %}

{% block stylesheets %}
	<!-- Google Fonts -->
  	<link href="https://fonts.googleapis.com/css?family=Ruda:400,900,700" rel="stylesheet">
  	<!-- Bootstrap CSS File -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

	<!-- Libraries CSS Files -->
	<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  	
  	
	<!-- Main Stylesheet File -->
	<link href="css/style.css" rel="stylesheet">
{% endblock %}


{% block page %}
	<header id="header" class="site-header" role="banner">
	    {% block header %}
	    	<div id="topbar">
				 {% block topbar %}{% endblock %}
			</div>
    		<div class="container">
    			<div class="logo float-left">
    				<a href="{{ path('homepage') }}"><img src="img/logo.png" alt="" class="img-fluid"></a>
    			</div>
    			<nav class="main-nav float-right d-none d-lg-block">
    				<ul>
    					<li><a href={{ path('homepage') }}>Accueil</a></li>
    					<li><a href="">Rechercher</a></li>
    					<li><a href="">Rechercher</a></li>
    				</ul>
    			</nav>
    		</div>
	    {% endblock %}
	</header>
	<div id="content" class="site-content">
	    {% block content %}{% endblock %}
	</div>
	<footer id="footer" class="site-footer" role="contentinfo">
	    {% block footer %}
    	    <div class="container">
    			<div class="copyright">
    				&copy; Copyright <strong>Nautilus</strong>. Edité par Kiwiscan. Tous droits réservés
    			</div>
    		</div>
	    {% endblock %}
	</footer>	
{% endblock %}

{% block javascripts %}
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
	<script src="js/main.js"></script>
{% endblock %}